body{
    width: 100vw; height: 100vh;
    background-color: white;
}
span,img{ width: 25rem; height: 15rem; border: 30px solid whitesmoke;
     opacity: 0.9; 

}
#move1{ position: absolute;
top: 400px; left: 200px; transform: rotate(10deg); z-index: 4;
}
#move2{position: absolute;
    top: 350px; left: 500px; transform: rotate(15deg);
    z-index: 3;

}
#move3{
    position: absolute;
    top: 300px; left: 800px; transform: rotate(5deg);
    z-index: 2;
}
#move4{
    position: absolute;
    top: 200px; left: 1000px; transform: rotate(-10deg);
    z-index: 1;
    
}
#move5{
    position: absolute;
    top: 50px; left: 50px; 
}

